In [ ]:
#pandas:library di python

In [ ]:
import pandas as pd

#Soal 1: buatlah Objek DataFrames</h2>

In [ ]:
# Contoh Membuat dataframes dari dictionary
df = pd.DataFrame({'NAMA':['adi','budi','cici'], 'Nilai':[80,90,100]})
display(df)

   NAMA  Nilai
0   adi     80
1  budi     90
2  cici    100

In [ ]:
#ketik kode anda di sini
student = {'Nama':['Adi','Budi','Sasa','Maya','Toni'],
           'Usia':[11,12,11,11,10],
           'Jenis Kelamin':['M','M','F','F','M']}
dfs = pd.DataFrame(student)
dfs

   Nama  Usia Jenis Kelamin
0   Adi    11             M
1  Budi    12             M
2  Sasa    11             F
3  Maya    11             F
4  Toni    10             M

<h2>Soal 2:Bacalah data dari file</h2>

Download file bernama [diamonds.csv](https://drive.google.com/uc?export=download&id=1qQiM9utQUThTPq8jk8stPMh_y2zfqYOd)

In [ ]:
# Membaca data dan memasukannya kedalam suatu variabel
df= pd.read_csv('https://drive.google.com/uc?export=download&id=1qQiM9utQUThTPq8jk8stPMh_y2zfqYOd')
df

       Unnamed: 0  carat        cut color  ... price     x     y     z
0               1   0.23      Ideal     E  ...   326  3.95  3.98  2.43
1               2   0.21    Premium     E  ...   326  3.89  3.84  2.31
2               3   0.23       Good     E  ...   327  4.05  4.07  2.31
3               4   0.29    Premium     I  ...   334  4.20  4.23  2.63
4               5   0.31       Good     J  ...   335  4.34  4.35  2.75
...           ...    ...        ...   ...  ...   ...   ...   ...   ...
53935       53936   0.72      Ideal     D  ...  2757  5.75  5.76  3.50
53936       53937   0.72       Good     D  ...  2757  5.69  5.75  3.61
53937       53938   0.70  Very Good     D  ...  2757  5.66  5.68  3.56
53938       53939   0.86    Premium     H  ...  2757  6.15  6.12  3.74
53939       53940   0.75      Ideal     D  ...  2757  5.83  5.87  3.64

[53940 rows x 11 columns]

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
!ls

Mounted at /content/drive
drive  sample_data

In [ ]:
df= pd.read_csv('./drive/MyDrive/diamonds.csv')
df

       Unnamed: 0  carat        cut color  ... price     x     y     z
0               1   0.23      Ideal     E  ...   326  3.95  3.98  2.43
1               2   0.21    Premium     E  ...   326  3.89  3.84  2.31
2               3   0.23       Good     E  ...   327  4.05  4.07  2.31
3               4   0.29    Premium     I  ...   334  4.20  4.23  2.63
4               5   0.31       Good     J  ...   335  4.34  4.35  2.75
...           ...    ...        ...   ...  ...   ...   ...   ...   ...
53935       53936   0.72      Ideal     D  ...  2757  5.75  5.76  3.50
53936       53937   0.72       Good     D  ...  2757  5.69  5.75  3.61
53937       53938   0.70  Very Good     D  ...  2757  5.66  5.68  3.56
53938       53939   0.86    Premium     H  ...  2757  6.15  6.12  3.74
53939       53940   0.75      Ideal     D  ...  2757  5.83  5.87  3.64

[53940 rows x 11 columns]

# Soal 3:DataFrame vs Series</h2>



1.   Perbedaan DataFrame dan series
2.   Buatlah series

jawab: 
Series adalah array berlabel satu dimensi yang mampu menampung semua tipe data (bilangan bulat, string, angka floating point, objek Python, dll.). Label sumbu secara kolektif disebut sebagai indeks.
Dataframe adalah suatu objek dua dimensi untuk menyimpan data secara terstruktur. Dataframe memilikiformat baris dan kolom sehingga dia memiliki dua indeks, yaitu indeks baris dan indeks kolom. Data dalam satu kolom harus memiliki tipe data yang sama, namun bisa berbeda antarkolom-nya.

In [ ]:
#contoh series
ini_series = pd.Series([1,2,3,4],index=['a','b','c','d'])
ini_series

a    1
b    2
c    3
d    4
dtype: int64

In [ ]:
#buat series
students = ['Adi','Budi','Sasa','Maya']
sr = pd.Series(students,index=['a','b','c','d'])
sr

a     Adi
b    Budi
c    Sasa
d    Maya
dtype: object

# Soal 4:Pemeriksaan Data Sederhana</h2>

a)ambilah 5 baris pertama data diamonds.csv yang tadi anda baca dengan .head

In [ ]:
# code here
df.head()

   Unnamed: 0  carat      cut color clarity  ...  table  price     x     y     z
0           1   0.23    Ideal     E     SI2  ...   55.0    326  3.95  3.98  2.43
1           2   0.21  Premium     E     SI1  ...   61.0    326  3.89  3.84  2.31
2           3   0.23     Good     E     VS1  ...   65.0    327  4.05  4.07  2.31
3           4   0.29  Premium     I     VS2  ...   58.0    334  4.20  4.23  2.63
4           5   0.31     Good     J     SI2  ...   58.0    335  4.34  4.35  2.75

[5 rows x 11 columns]

b)ambilah 5 baris terakhir data diamonds.csv yang tadi anda baca dengan .tail

In [ ]:
#code here
df.tail()

       Unnamed: 0  carat        cut color  ... price     x     y     z
53935       53936   0.72      Ideal     D  ...  2757  5.75  5.76  3.50
53936       53937   0.72       Good     D  ...  2757  5.69  5.75  3.61
53937       53938   0.70  Very Good     D  ...  2757  5.66  5.68  3.56
53938       53939   0.86    Premium     H  ...  2757  6.15  6.12  3.74
53939       53940   0.75      Ideal     D  ...  2757  5.83  5.87  3.64

[5 rows x 11 columns]

c)ambillah baris pertama kolom carat

In [ ]:
#contoh ambil data baris pertama
display(df[['price']].head(1))

   price
0    326

In [ ]:
#code here
a= df[['carat']].head(1)
a

   carat
0   0.23

d)ambillah baris terakhir dari kolom carat

In [ ]:
#contoh ambil data baris terakhir dari kolom color
display(variabel[['color']].tail(1))

      color
53939     D

In [ ]:
#code here
b=df[['carat']].tail(1)
b

       carat
53939   0.75

<h2>Soal 5:Apa itu Deskriptif Statistik?</h2>

jawab:
Deskriptif Statistik adalah metode untuk mendeskripsikan kondisi dari data yang dan menyajikannya dalam bentuk tabel diagram grafik dan bentuk lainnya yang disajikan dalam uraian-uraian singkat dan terbatas.

<h2>Soal 6 : Practice Deskriptif Statistik</h2>

1.   Praktikkanlah cara menampilkan deskriptif statistik di python dengan data csv yang sudah anda baca dengan .describe()

In [ ]:
# code 
df.describe()

         Unnamed: 0         carat  ...             y             z
count  53940.000000  53940.000000  ...  53940.000000  53940.000000
mean   26970.500000      0.797940  ...      5.734526      3.538734
std    15571.281097      0.474011  ...      1.142135      0.705699
min        1.000000      0.200000  ...      0.000000      0.000000
25%    13485.750000      0.400000  ...      4.720000      2.910000
50%    26970.500000      0.700000  ...      5.710000      3.530000
75%    40455.250000      1.040000  ...      6.540000      4.040000
max    53940.000000      5.010000  ...     58.900000     31.800000

[8 rows x 8 columns]